.userWrapper{
    
}

.eachList{
    border: 1px solid grey;
    border-radius: 5rem;
    margin-bottom: 1rem;
    width: 25rem;
    list-style: none;
    text-align: center;
}


@media screen  and (max-width:425px){
    .eachList{
    width: 16rem;
}
}